.photo {
    height: 100px;
    width: auto;
    border-radius: 50%;
}

.selectedPage {
    font-weight: 700;
    padding: 3px;
    font-size: 20px;
}

.scrollBar {
    font-size: 18px;
    cursor: pointer;
}
