.dialogs {
  display: grid;
  grid-template-rows: 60px 2fr;
  grid-template-columns: 2fr 10fr;
}

.messages {
  color: black;
  padding: 20px;
}

.dialog_item {
  text-decoration: none;
  color: black;
  padding: 20px;
  font-size: large;
}
